.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    transition: all 0.25s ease-in-out;

    &.primary-button {
        background-color: #2c658e;
        color: white;
    }

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        filter: brightness(1.2);
    }
}